/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* General Styling */
:root {
  --javascript: #f0db4f;
  --javascript-alt: #323330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quantico", serif;
  color: var(--javascript-alt);
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

/* Utilities */
.container {
  margin: 0 auto 32px;
  padding-top: 8px;
  width: 85%;
}

.hero-container {
  display: flex;
  align-items: center;
  padding-block: 96px;
  width: 100%;
}

/* Main Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.nav-logo-js {
  color: var(--javascript);
  margin-inline: 4px;
}

.main-nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-nav-link,
.hero-description-link,
.btn-main {
  padding: 1px 2px;
  color: #fff;
  background-image: linear-gradient(var(--javascript) 0 0);
  background-size: 0;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.main-nav-link:hover,
.hero-description-link:hover,
.btn-main:hover {
  background-size: 100%;
  color: var(--javascript-alt);
}

/* Hero Section */
.hero {
  color: #fff;
  background-color: #222;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 12px;
}

.right-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.hero-icons {
  position: relative;
}

.hero-icon {
  position: absolute;
  top: -50px;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 6s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.hero-icon:nth-child(2) {
  animation-delay: 2s;
}
.hero-icon:nth-child(3) {
  animation-delay: 4s;
}

.hero-icon i {
  font-size: 96px;
  margin-bottom: 8px;
}

.hero-icon p {
  border-bottom: 3px solid var(--javascript);
}
